---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=99&currency=usd&card=tok_102yOI2kFw66U1osw3KTtEyg&description=sign%20up%20charge%20for%20tyler%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102yOI2kFw66U1osbA6Om8tA",
          "object": "charge",
          "created": 1384917535,
          "livemode": false,
          "paid": true,
          "amount": 99,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102yOI2kFw66U1osv9N7tvjE",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "pGFS8GjeaKqyMHqj",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102yOI2kFw66U1os2SLwMsoz",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "sign up charge for tyler@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Wed, 20 Nov 2013 03:18:58 GMT
recorded_with: VCR 2.7.0
