---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_10316x2kFw66U1osVrc2kmvR&plan=base&email=tyler%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1385544927,
          "id": "cus_316x32SLhEMKbp",
          "livemode": false,
          "description": null,
          "email": "tyler@example.com",
          "delinquent": false,
          "metadata": {},
          "subscription": {
            "id": "sub_316xjCInKz6xMv",
            "plan": {
              "interval": "month",
              "name": "the base plan",
              "amount": 99,
              "currency": "usd",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1385544927,
            "status": "active",
            "customer": "cus_316x32SLhEMKbp",
            "cancel_at_period_end": false,
            "current_period_start": 1385544927,
            "current_period_end": 1388136927,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_316x32SLhEMKbp/cards",
            "data": [
              {
                "id": "card_10316x2kFw66U1osFGIOb4fJ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "pGFS8GjeaKqyMHqj",
                "customer": "cus_316x32SLhEMKbp",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_10316x2kFw66U1osFGIOb4fJ"
        }
  recorded_at: Wed, 27 Nov 2013 09:35:23 GMT
recorded_with: VCR 2.7.0
