---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=99&currency=usd&card=tok_102yPt2kFw66U1osZwObdDlb&description=sign%20up%20charge%20for%20tyler%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_102yPu2kFw66U1os39OKUyYP"
          }
        }
  recorded_at: Wed, 20 Nov 2013 04:58:20 GMT
recorded_with: VCR 2.7.0
