---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_10316x2kFw66U1os1IbznsVc&plan=base&email=tyler%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 27 Nov 2013 09:35:34 GMT
recorded_with: VCR 2.7.0
