---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_10317d2kFw66U1osVzzK16Jn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_10317d2kFw66U1osVzzK16Jn",
          "created": 1385547488,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_10317d2kFw66U1osG0nm59JF",
              "object": "charge",
              "created": 1385547488,
              "livemode": false,
              "paid": true,
              "amount": 99,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_10317d2kFw66U1os8YLvpUuT",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 11,
                "exp_year": 2015,
                "fingerprint": "pGFS8GjeaKqyMHqj",
                "customer": "cus_317d8FwcVVahqJ",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_10317d2kFw66U1osAUKCUcz8",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_317d8FwcVVahqJ",
              "invoice": "in_10317d2kFw66U1osEmOW0kmx",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_317d83XPVEFRPl"
        }
  recorded_at: Wed, 27 Nov 2013 14:08:20 GMT
recorded_with: VCR 2.7.0
