---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_102xU22kFw66U1osE3qUchhA",
          "livemode": false,
          "created": 1384708250,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_102xU22kFw66U1osXHiT9erx",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2014,
            "fingerprint": "pGFS8GjeaKqyMHqj",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 17 Nov 2013 17:10:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102xU22kFw66U1osE3qUchhA&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102xU22kFw66U1osqu6jxNVI",
          "object": "charge",
          "created": 1384708256,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102xU22kFw66U1osXHiT9erx",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2014,
            "fingerprint": "pGFS8GjeaKqyMHqj",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102xU22kFw66U1osNWW9z4jT",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Sun, 17 Nov 2013 17:10:56 GMT
recorded_with: VCR 2.7.0
