---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_102y5C2kFw66U1osA7LCDThN",
          "livemode": false,
          "created": 1384846496,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_102y5C2kFw66U1osjfN5B2u6",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2014,
            "fingerprint": "mMSczkFPlRrqwwqh",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 19 Nov 2013 07:34:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102y5C2kFw66U1osA7LCDThN&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_102y5C2kFw66U1osZNI6Anmn"
          }
        }
  recorded_at: Tue, 19 Nov 2013 07:34:58 GMT
recorded_with: VCR 2.7.0
