<% if false %>
  <% @categories.each do |category| %>
    <article class="video_category">
      <header>
        <h3>
          <%= link_to category.name %>
        </h3>
      </header>
      <div class="videos row">
        <% category.videos.each do |video| %>
          <div class="video span2">
            <%= link_to video_path(video) do %>
              <img/>
            <% end %>
          </div>
        <% end %>
      </div>
    </article>
  <% end %>
<% end %>
