---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_10316u2kFw66U1osBsGo3DVN",
          "livemode": false,
          "created": 1385544750,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_10316u2kFw66U1osM9ctNseD",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2014,
            "fingerprint": "mMSczkFPlRrqwwqh",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 27 Nov 2013 09:32:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_10316u2kFw66U1osBsGo3DVN&plan=base&email=tito.swift%40rennercorwin.name
    headers:
      Authorization:
      - Bearer sk_test_JQREcFqcTqOjBp4SfkVTjOQI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 27 Nov 2013 09:32:26 GMT
recorded_with: VCR 2.7.0
