!!! 5
%html(lang="en-US")
  %body
    %p you are invited by #{@invitation.inviter.full_name} to join bootlegz!
    %p= @invitation.message
    %p= link_to "accept this invitation", register_with_token_url(@invitation.token)
